/* ---- GENERAL STYLES ---- */
body {
    font-family: Arial, sans-serif;
    background-color: #EAD9C6;
    margin: 0;
    padding: 0;
    text-align: center;
}


/* ---- NAVBAR ---- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3E2723;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-text {
    font-family: "Caveat", cursive;
    font-weight: 800;
    font-size: 35px;
    color: white;
    letter-spacing: 1px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffcccb;
}

.top-header {
    width: 100%;       
    height: 150px;     
    overflow: hidden;
    margin: 0;         
    border-bottom: 4px solid #6B4F31;
}

.top-header img {
    width: 100%;       
    height: 100%;      
    object-fit: cover; 
    display: block;
}


/* ---- HEADING ---- */
.caveat {
    font-family: "Caveat", cursive;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #3E2723;
    letter-spacing: 1px;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

/* ---- BIG IMAGE ---- */
.big-image {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

/* ---- AUDIO ---- */
.audio-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

audio {
    width: 320px;
    border: 3px solid #EAD9C6;
    border-radius: 12px;
    background-color: #3E2723;
}

/* ---- FOOTER ---- */
.footer {
    background: #3E2723;
    padding: 40px 20px;
    text-align: center;
    color: white;
    margin-top: 50px;
    border-top: 3px solid #ffcccb;
}

.social-icon {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

.social-icon__link {
    font-size: 25px;
    color: white;
    transition: 0.3s;
}

.social-icon__link:hover {
    color: #ffcccb;
    transform: scale(1.2);
}

.footer p {
    font-size: 14px;
    margin-top: 15px;
    opacity: 0.7;
}

/* --- HEADER STYLES --- */
header {
    background-color: #3E2723;
    color: white;
    padding: 12px 0;
    font-size: 6px;
    font-weight: 300;
}

.header-title {
    font-family: "Caveat", cursive;
    font-size: 70px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    text-align: center;
}


